.alarm-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
}

.active {
  background-color: #f44336; /* Rojo para indicar que está activa */
  color: white;
}

.inactive {
  background-color: #4CAF50; /* Verde para indicar que está inactiva */
  color: white;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
}